<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <title>Control Temperatura</title>
  </head>
  <body>
    <div class="container">
      <div class="col-md-6 offset-md-3 my-5">
        <div class="card">
          <div class="card-body">
            <div class="card-header text-center">
              <h2>Control Temperatura</h2>
            </div>
            <div>
              <img
                class="img-fluid mx-auto d-block my-2"
                src="../images/circleProfile.png"
                alt="unplash"
              />
            </div>
            <div>
              <table class="table table-dark mx-auto d-flex justify-content-center p-3">
                <tbody>
                  <tr>
                    <td id="nombre">Nombre: --------</td>
                    <td id="apP">Ap. P: --------</td>
                  </tr>
                  <tr>
                    <td id="apM">Ap. M: --------</td>
                    <td id="nc">N. Ctrl: --------</td>
                  </tr>
                  <tr>
                    <td colspan="2" id="estado">
                      Temperatura: --------
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./main.js"></script>
  </body>
</html>
